*{
  box-sizing: border-box;
    padding: 0;
   /* margin: 0;*/


}

header{
 background-color: rgb(6, 154, 218);
 background-image: url(img/pattern.png);
 background-size: 18%;

}
#titolo{
    margin-bottom: 0;
}

#Dominio {
 width: 20%;
}

.grigio{
    color: grey;
}
.azzurro{
    color: cornflowerblue;
}
#lista_lorem{
    padding-left: 20px;
}

table{
    text-align: center;
    width: 100%;
    border-spacing: 0;
    table-layout: auto;
}

.linea_1{
    background-color: rgb(61, 159, 251);
}
.linea_2{
    background-color: rgb(139, 219, 254);
}
.linea_3{
    background-color: white;
}
.linea_4{
    background-color: rgb(139, 219, 254);
}

.sx1{ width: 25%;
}
.sx2{ width: 25%;
}

mark{
    background-color: yellow;
}